<nav class="nav nav-tabs">
    <a class="nav-item nav-link" [class.active]="youngInformationActive" (click)="setYoungInformationActive()" data-toggle="tab">Informations</a>
    <a class="nav-item nav-link" [class.active]="youngHistoryActive" (click)="setYoungHistoryActive()" data-toggle="tab">Suivi</a>
  </nav>
  <div class="tab-content">
    <div class="tab-pane" [class.active]="youngInformationActive" id="p1"><plm-young-informations></plm-young-informations></div>
    <div class="tab-pane" [class.active]="youngHistoryActive" id="p2"><plm-young-follow-up></plm-young-follow-up></div>
  </div>
