<div class="row justify-content-center">
  <div class="col-6 text-center m-2 banner">
    <span class="site-headline">PARCOURS LE MONDE</span>
    <p><span class="site-subtitle">FACILITATEUR DE MOBILITÉ</span></p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block " [routerLink]="['/dashboard/young/search']"><i class="fa fa-users m-2"></i>Jeunes</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard/awereness/search']"><i class="fa fa-flask m-2"></i>Sensibilisations</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard/project/search']"><i class="fa fa-globe m-2"></i>Projets</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard/statistics']"><i class="fas fa-chart-line m-2"></i>Statistiques</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard/parameters/home']"><i class="fas fa-tools m-2"></i>Paramètres</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/login']"><i class="fas fa-sign-out-alt m-2"></i>Quitter</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-auto">
    <img class="mb-4 " src="../../assets/images/logo.png" alt="logo">
  </div>
</div>