<form *ngIf="awareness" #form="ngForm">
  <div class="row m-2">
    <div class="col-2 text-left">
      <button type="button" class="btn btn-outline-primary text-left m-2" [routerLink]="['/dashboard/awereness/search']"><i
          class="fas fa-chevron-left m-2"></i>Retour</button>
    </div>
    <div class="col-8 text-center">
      <h1>{{awareness.name}}</h1>
    </div>
    <div class="col-2 text-right">

      <button type="button" class="btn btn-primary m-2" (click)="saveAwareness(form)"><i class="fas fa-save m-2"></i>Enregistrer</button>
    </div>
  </div>
  <div *ngIf="errorMessage" class="p-3 mb-2 bg-danger text-white">{{errorMessage}}</div>
  <div *ngIf="successMessage" class="p-3 mb-2 bg-success text-white">{{successMessage}}</div>
  <hr />
  <div class="row">
    <div class="col-2 mb-2">
      <label for="name">Nom</label></div>
    <div class="col-10 mb-2">
      <input class="form-control" id="name1" type="text" [(ngModel)]="awareness.name" #name1="ngModel" name="name1"
        required />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-4 mb-2">
          <label for="date">Date :</label>
        </div>
        <div class="col-8 mb-2">
          <input class="form-control" id="date" type="date" [(ngModel)]="awareness.date" #name="ngModel" name="date" plmUseValueAsDate/>
        </div>
      </div>
      <div class="row">
        <div class="col-4 mb-2">
          <label for="type">Type :</label>
        </div>
        <div class="col-8 mb-2">
          <select class="form-control" id="type" [(ngModel)]="awareness.typeId" #type="ngModel" name="type">
            <option *ngFor="let type of getDropDownValues('awarenessType')" [value]="type.id" [selected]="type.id == awareness.typeId">{{type.value}}</option>
          </select>
        </div>
      </div>
      <div class="
              row">
              <div class="col-4 mb-2">
                <label for="public">Public :</label>
              </div>
              <div class="col-8 mb-2">
                <select class="form-control" id="public" [(ngModel)]="awareness.publicTypeId" #public="ngModel" name="public">
                  <option *ngFor="let publicType of getDropDownValues('public')" [value]="publicType.id" [selected]="publicType.id == awareness.publictypeId">{{publicType.value}}</option>
                </select>
              </div>
        </div>

        <div class="row">

          <div class="col-6 mb-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="signature" value="true" #signature="ngModel" name="signature" [(ngModel)]="awareness.signature" [checked]="awareness.signature" >
              <label class="form-check-label" for="signature">Emargement</label>
            </div>
          </div>
          <div class="col-6 mb-2">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="estimationChk" value="false"  #signature="ngModel" name="signature" [(ngModel)]="!awareness.signature" [checked]="!awareness.signature" >
              <label class="form-check-label" for="estimationChk">Estimation</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-2">
            <label for="estimation">Estimation :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="estimation" type="text" [(ngModel)]="awareness.estimation" #estimation="ngModel"
              name="estimation" />
          </div>
        </div>
        <div class="row">
          <div class="col-12"><label for="comment">Commentaire : </label></div>
        </div>
        <div class="row">
          <div class="col-12">

            <textarea class="comment" id="comment" name="comment" #comment="ngModel" [(ngModel)]="awareness.comment"
              rows="5"></textarea>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-4 mb-2">
            <label for="address1">Adresse :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="address1" type="text" [(ngModel)]="awareness.address1" #address1="ngModel"
              name="address1" />
          </div>
        </div>
        <div class="row align-middle">
          <div class="col-4 mb-2">
            <label for="address2">Complément adresse :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="address2" type="text" [(ngModel)]="awareness.address2" #address2="ngModel"
              name="address2" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-2">
            <label for="zipCode">Code Postal :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="zipCode" type="numeric" [(ngModel)]="awareness.zipCode" #zipCode="ngModel"
              name="zipCode" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-2">
            <label for="city">Ville :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="city" type="text" [(ngModel)]="awareness.city" #city="ngModel" name="city" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-2">
            <label for="public">Focus Géographique :</label>
          </div>
          <div class="col-8 mb-2">
            <select class="form-control" id="geographicFocus" [(ngModel)]="awareness.geographicFocusId"
              #geographicFocusId="ngModel" name="geographicFocusId">
              <option *ngFor="let geographicFocus of getDropDownValues('geographicFocus')" [value]="geographicFocus.id" [selected]="geographicFocus.id == awareness.geographicFocusId">{{geographicFocus.value}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-2">
            <label for="organiserStructure">Structure organisatrice :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="organiserStructure" type="text" [(ngModel)]="awareness.organiserStructure"
              #organiserStructure="ngModel" name="organiserStructure" />
          </div>
        </div>
        <div class="row">
          <div class="col-4 mb-2">
            <label for="contact">Contact :</label>
          </div>
          <div class="col-8 mb-2">
            <input class="form-control" id="contact" type="text" [(ngModel)]="awareness.contact" #contact="ngModel"
              name="contact" />
          </div>
        </div>
        <div class="row"><span class="col-12 mb-2">Intervenants</span></div>
        <div class="row" *ngFor="let user of awareness.users">
          <input type="checkbox" value="user.id" />
          {{user.fistname}} {{user.lastname}}

        </div>
      </div>

    </div>

</form>