<section>
  <div class="row">
    <div class="col-12 text-right">
      <button type="button" class="btn btn-primary m-2" (click)="addAwareness()">Ajouter Sensibilisation</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 m-2">
      <table class="table table-striped">
        <thead>
          <th>Date</th>
          <th>Nom de la sensibilisation</th>
          <th>Informations</th>
          <th>Supprimer</th>
        </thead>
        <tbody>
          <tr *ngFor="let awareness of awarenesses">
            <td>{{awareness.date | date:'shortDate'}}</td>
            <td>{{awareness.name }}</td>
            <td></td>
            <td>
              <a (click)="deleteAwareness(awareness.id)"><i class="trash far fa-trash-alt text-primary pointer"></i></a>
            </td>
          </tr>
        </tbody>

      </table>


    </div>


  </div>
</section>