<div class="row">
  <div class="col-12 text-center m-2">
    <h1>Paramètres</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block " [routerLink]="['/dashboard/parameters/users']"><i
        class="fa fa-users m-2"></i>Utilisateurs</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard/parameters/dropdown']"><i
        class="far fa-caret-square-down m-2"></i>Valeurs de liste</button>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-6 col-md-12 text-center m-2">
    <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/dashboard/home']"><i
        class="fas fa-angle-double-left m-2"></i>Menu Principal</button>
  </div>
</div>